@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  main {
    padding: 16px 24px;
  }
}
